<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <p>Este site usa cookies para navegabilidade.</p>
                <p>Não utilizamos para marketing.</p>
                <p>Ao clicar em "OK" você concorda uso de cookies.</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary text-white" id="btnAcceptPolicy" data-bs-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>


